.our-products-title {
  margin-bottom: 48px;

  text-align: center;
}
.our-products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
  margin-bottom: 48px;
}
.our-products-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 24px;
}

.products-item-img {
  width: 160px;
  height: 160px;
  margin-bottom: 24px;

  background-color: #e3e3e3;
}
.products-item-thumb {
  width: 100%;
  max-width: 277px;
}
.products-item-title {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
}
.products-item-desk {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 16px;
  line-height: 140%;
  color: #757575;
}
.products-item-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.products-item-btn {
  border: 1px solid #767676;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: #e3e3e3;
}

.our-products-link {
  width: 100%;
  max-width: 174px;
  margin-right: auto;
  margin-left: auto;
}
