<section class="about-us section" id="about">
  <div class="container about-us-container">
    <img src="../img/about-img.jpg" alt="" class="about-us-img" />
    <div class="about-us-wrapper">
      <h2 class="about-us-title main-title">O nas</h2>
      <p class="about-us-text">
        Jesteśmy sklepem oferującym różnorodne produkty, a naszą specjalizacją
        są unikalne zestawy konstrukcyjne. Po dokładnym zbadaniu rynku
        zauważyliśmy, że obecnie dużą popularnością cieszą się tematy związane z
        grami online, automatami oraz szeroko pojętymi kasynami. Chcąc
        dostosować naszą ofertę do najnowszych trendów, postanowiliśmy
        wprowadzić na rynek wyjątkowe zestawy konstrukcyjne inspirowane światem
        gier kasynowych. Nasze produkty łączą kreatywność z zabawą, umożliwiając
        każdemu stworzenie własnego, unikalnego projektu opartego na motywach
        gier hazardowych. Dbamy o jakość naszych produktów i wierzymy, że nasze
        zestawy konstrukcyjne zainspirują zarówno miłośników gier, jak i
        wszystkich poszukujących innowacyjnych rozwiązań.
      </p>
      <a href="../pages/about-us-page.html" class="main-link">bliższy</a>
    </div>
  </div>
</section>
