<section class="about-us section" id="about">
  <div class="container about-us-container">
    <img src="./img/about-img.jpg" alt="" class="about-us-img" />
    <div class="about-us-wrapper">
      <h2 class="about-us-title main-title">O nas</h2>
      <p class="about-us-text">
        Jesteśmy sklepem specjalizującym się w unikalnych zestawach
        konstrukcyjnych inspirowanych światem gier kasynowych, automatów i
        slotów online. Nasze produkty łączą kreatywność z tematyką gier
        hazardowych, pozwalając na budowanie unikalnych projektów. Gwarantujemy
        wysoką jakość naszych zestawów, które zainspirują zarówno fanów gier,
        jak i osoby szukające innowacyjnych form zabawy.
      </p>
      <a href="../about-us-page.html" class="main-link">bliższy</a>
    </div>
  </div>
</section>
