<section class="about-us section" id="about">
  <div class="container about-us-container">
    <img src="./img/about-img2.jpg" alt="" class="about-us-img" />
    <div class="about-us-wrapper">
      <h3 class="about-us-title" data-translate="aboutPage.mainTitle">
        Analiza rynku i popularność gier kasynowych
      </h3>
      <p class="about-us-text" data-translate="aboutPage.mainDesc">
        Po szczegółowej analizie rynku zauważyliśmy, że tematy związane z grami
        hazardowymi, w tym slotami online oraz kasynami, zyskują ogromną
        popularność. Gry kasynowe i sloty online przyciągają coraz większą
        liczbę osób, co sprawia, że temat ten stał się istotnym trendem w branży
        rozrywkowej. Z tego powodu postanowiliśmy dostosować naszą ofertę, aby
        odpowiedzieć na rosnące zainteresowanie.
      </p>
      <h3 class="about-us-title" data-translate="aboutPage.secondTitle">
        Unikalne zestawy konstrukcyjne inspirowane kasynami
      </h3>
      <p class="about-us-text" data-translate="aboutPage.secondDesc">
        W odpowiedzi na trendy rynkowe, wprowadziliśmy zestawy konstrukcyjne
        inspirowane światem gier kasynowych. Nasze produkty łączą kreatywność z
        motywami gier hazardowych, umożliwiając budowanie unikalnych projektów.
        Dbamy o wysoką jakość naszych zestawów, wierząc, że przypadną one do
        gustu zarówno fanom gier online, jak i osobom poszukującym innowacyjnych
        form rozrywki.
      </p>
      <h3 class="about-us-title" data-translate="aboutPage.therdTitle">
        Nowoczesne podejście do kreatywnej zabawy
      </h3>
      <p class="about-us-text" data-translate="aboutPage.therdDesc">
        Nasze zestawy konstrukcyjne to nie tylko inspiracja światem kasyn, ale
        także nowoczesna forma rozrywki, która pobudza wyobraźnię i kreatywność.
        Dzięki nim każdy może stworzyć unikalną konstrukcję, czerpiąc radość z
        budowania w oparciu o motywy gier hazardowych. To idealne połączenie
        zabawy i innowacyjności!
      </p>
    </div>
  </div>
</section>
