<section class="certificates section" id="certificates">
  <div class="container certificates-container">
    <div class="certificates-wrapper">
      <h2 class="main-title" data-translate="certificates.title">Podaruj mini-kasyno na święta!</h2>
      <p class="certificates-text" data-translate="certificates.description">
        Zbliżają się święta, a Ty szukasz wyjątkowego prezentu? Nasze zestawy
        LEGO inspirowane światem kasyn i automatów do gier to idealny wybór!
        Podaruj swojemu przyjacielowi lub bliskiej osobie możliwość zbudowania
        własnego mini-kasyna, pełnego emocji i zabawy. To doskonały sposób na
        połączenie kreatywności z fascynującym światem gier hazardowych.
        Niezależnie czy to na Nowy Rok, urodziny czy inne okazje – nasza karta
        podarunkowa to gwarancja niezapomnianych chwil i świetnej rozrywki!
      </p>
      <a href="../gift-certificates-page.html" class="main-link">bliższy</a>
    </div>
    <img src="../img/certificate-about.jpg" alt="" class="certificates-img" />
  </div>
</section>
