<header class="header">
  <div class="container header-container">
    <a href="../index.html" class="header-logo"
      ><img src="./img/logo.png" alt="logo of site"
    /></a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="./index.html">główny</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about-us-page.html"> o nas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./our-products-page.html">katalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./gift-certificates-page.html">
            bony podarunkowe</a
          >
        </li>
      </ul>
    </nav>
    <div class="language-switcher">
      <button id="lang-pl" class="lang-btn">PL</button>
      <button id="lang-en" class="lang-btn">EN</button>
    </div>
    <a href="../basket-page.html" class="header-button">
      <svg width="24" height="24">
        <use href="./img/icon/icon-defs.svg#icon-shopping-cart"></use>
      </svg>
      <span id="cart-count" class="cart-count"></span>
    </a>
  </div>
</header>
