<div id="modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <form id="orderForm" class="modal-form">
        <label for="name" class="form-label">Pełne imię i nazwisko</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-input"
          placeholder="Wpisz swoje pełne imię i nazwisko"
          required
        />
  
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-input"
          placeholder="Wpisz swój adres e-mail"
          required
        />
  
        <label for="phone" class="form-label">Numer telefonu:</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          class="form-input"
          placeholder="Wpisz numer telefonu"
          required
        />
  
        <label for="delivery" class="form-label">Sposób dostawy:</label>
        <select id="delivery" name="delivery" class="form-input" required>
          <option value="delivery">Dostawa</option>
          <option value="pickup">Ulec poprawie</option>
        </select>
  
        <label for="comment" class="form-label">Komentarz:</label>
        <textarea
          id="comment"
          name="comment"
          class="form-input"
          placeholder="Zostaw komentarz"
        ></textarea>
  
        <button type="submit" class="basket-btn form-btn">Potwierdzać</button>
      </form>
    </div>
  </div>

  